.grid{
    width: 400px;
    height: 400px;
    background: blue;
    display: flex;
    flex-wrap: wrap;
}
.grid div{
    width: 100px;
    height: 100px;
    background-color: yellow;
    text-align: center;
    font-size: 60px;
}
